/* You can add global styles to this file, and also import other style files */
.gradient{
  background: rgb(0,246,152);
  background: linear-gradient(90deg, rgba(0,246,152,1) 0%, rgba(213,0,255,1) 100%);
}

body {
  margin: 0;
}