.main-container {
    width: 60rem;
    height: 40rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    white-space: pre-wrap;
    line-height: 1.0;
    padding: 30px 30px;
}