.topHeader{
  position:fixed;
  width: 100%;
  top: 0;
}
.footer{
  position:fixed;
  bottom:0;
  width:100%;
}
.title{
  width: 60%;
  margin-top: 75px;
  margin-left: 40% ;
  font-weight: bolder ;
  font-size: xxx-large
}
