<ul class="nav gradient">
  <p>&nbsp;</p>
</ul>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center" style="font-size: xxx-large">
      <span style="font-weight:bolder">Dyslexia</span>
      <span style="color: purple">Reader</span>
      <i class="bi bi-eyeglasses"></i>
      <span style="color:cornflowerblue"><i class="bi bi-book"></i></span>
    </h1></div>
  </div>
  <div class="row mb-0">
    <app-form></app-form>
  </div>
  <div class="row mx-2 mt-0">
    <div class="col-12"> <img style=" margin-left: 35%" src="assets/img/readingabook.png" ></div>
  </div>
  <div class="row">
    <div class="col-12 gradient footer"> <p>&nbsp; </p></div>
  </div>
</div>

