<ul class="nav gradient">
  <p>&nbsp;</p>
</ul>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center" style="font-size: xxx-large">
      <span style="font-weight:bolder">Dyslexia</span>
      <span style="color: purple">Reader</span>
      <i class="bi bi-eyeglasses"></i>
      <span style="color:cornflowerblue"><i class="bi bi-book"></i></span>
    </h1></div>
  </div>
  <div class="row mb-0">
    <app-form></app-form>
  </div>
  <div class="row mx-5 mt-0">
    <div class='about'>
      <h1>About Dyslexia</h1>
      <h2>What is Dyslexia?</h2>
      <p>
          Dyslexia is a disability which affects one's ability to process characters. Thus, an individual with Dyslexia have difficulties
          in reading. It is said that in 1 out of 5 people suffer from Dyslexia.
      </p>
      <h2>Why did we build this website?</h2>
      <p>
          While browsing and trying to find websites that cater to Dyslexia, it was shocking how few websites cater to people with Dyslexia.
          Hence, we decided to build a web application that helps with those who have Dyslexia. Although there are no actual evidence on how
          changing fonts will help those with the disability, many have voiced that it does help. Furthermore, our application offers text-to-speech
          as well.
      </p>
      <h2>Videos that might help</h2>
      <iframe width="auto" height="auto" src="https://www.youtube.com/embed/zafiGBrFkRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-12 gradient footer"> <p>&nbsp; </p></div>
  </div>
</div>

