.main-div mat-card {
    padding: 0;
    height: 100%;
}

.text-form {
    width: 90%;
    margin: auto;
}

.input-text {
    width: 100%;
    height: 13em;
}

.output-text {
    width: 100%;
    height: 13em;
}

.submit {
    width: 30%;
    margin: auto;
}