<div fxLayoutAlign="center" fxFlexFill class="main-div" fxLayout="column" form="stretch" > 
    <form fxLayout="column" class="text-form" [formGroup]="textForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Convert Text</mat-label>
            <textarea matInput placeholder="Input text." class="input-text"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" (click)="openDialog()">Convert to Dyslexia Readable Text</button>
    </form>
</div>